<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Richie.DRD-20161223010157.mdf;Initial Catalog=aspnet-Richie.DRD-20161223010157;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <add name="RichieConnection" connectionString="Persist Security Info=False; Integrated Security=SSPI; server=RICHIEHO-PC; database=DRD;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>